:root {
    --font-main: "Comfortaa", sans-serif;
    --font-secondary: "DM Mono", monospace;

    --col-main: hsl(268, 82%, 67%);
    --col-main-dark: #000000;
    --col-secondary: #eeeeee;
    --col-background: #ffffff;
    --col-background-secondary: #dffdff;

    --gap-small: .5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 4rem;
}

*,*::before,*::after {
    box-sizing: border-box;
    font-family: var(--font-main);
    list-style-type: none;
}

html {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main {
    flex-grow: 1;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

time {
    font-family: var(--font-secondary);
}
a {
    color: var(--col-main-dark);
}

.a--visible {
    color: var(--col-main);
}

a:hover {
    color: var(--col-main);
    text-shadow: 0 0 1rem var(--col-main);
}

/* overrides */

.leaflet-container a {
    color: var(--col-main-dark);
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 2rem;
    }
}