:root {
    --font-main: "Comfortaa", sans-serif;
    --font-secondary: "DM Mono", monospace;

    --col-main: #a666f0;
    --col-secondary: #e4e4e4;
    --col-background: #ffffff;
    --col-background-secondary: #dffdff;

    --gap-small: .5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 4rem;
}

*,*::before,*::after {
    box-sizing: border-box;
    font-family: var(--font-main);
}

html {
    height: 100%;
}
body {
    /* followed this example to archive sticky footer https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: scroll;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

img {
    width: 100%;
}

time {
    font-family: var(--font-secondary);
}

a:hover {
    color: var(--col-main);
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 2rem;
    }
}