.btn {
    cursor: pointer;
    font-weight: 700;
    color: var(--col-background);
    padding: var(--gap-small);
    background-color: var(--col-main-dark);
}

.btn:hover {
    background-color: var(--col-main-dark);
    color: var(--col-main);
    box-shadow: 0 0 .5rem .01rem var(--col-main);
}