.btn {
    cursor: pointer;
    font-weight: 700;
    color: var(--col-background);
    padding: var(--gap-small);
    background-color: var(--col-main-dark);
}

.btn--main {
    background-color: var(--col-main-dark);
    color: var(--col-main);
}

.btn--secondary {
    color: var(--col-background);

}

.btn__hide {
    display: none;
}

.btn__show {
    display: block;
}

.btn:hover {
    background-color: var(--col-main-dark);
    color: var(--col-main);
    box-shadow: 0 0 .5rem .01rem var(--col-main);
}