/* custom styles for flickity */
.carousel {
    height: 224px;
}

.carousel--card {
    height: 296px;
}

.carousel-cell {
    /* width: 66%; */
    /* height: 200px; */
    margin-right: var(--gap-small);
    /* background: #8C8; */
    counter-increment: carousel-cell;
}

.carousel img {
    display: block;
    height: 224px;
    /* width: 14rem; */
    /* set min-width,
        allow images to determine cell width */
    /* min-width: 150px; */
    /* max-width: 100%; */
    /* vertically center */
    /* top: 50%; */
    /* transform: translateY(-50%) */
}

.carousel__img {
    display: block;
    height: 224px;
}

/* .carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
} */

/* custom styles */

.card {
    /* max-width: 14rem; */
    /* max-width: 14rem; */
    width: 220px;
}

.card__img {
    /* width: 28rem; */
    /* object-fit: contain; */
}

a:hover .card img {
    filter: sepia(100%) hue-rotate(268deg) brightness(82%) saturate(67%);
    box-shadow: 0 0 .5rem .1rem var(--col-main);
}

.card__heading {
    margin: var(--gap-small) 0;
    font-size: var(--gap-large);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
    .carousel {
        height: 576px;
    }
    .carousel--card {
        height: 721px;
    }
    .carousel img {
        height: 576px;
    }
    .card {
        width: 576px;
        /* max-width: 20rem; */
        /* max-width: 600px; */
    }
}

@media screen and (min-width: 3200px) {
    .carousel {
        height: 896px;
    }
    .carousel--card {
        height: 1041px;
    }
    .carousel img {
        height: 896px;
    }
    .card {
        width: 896px;
        /* max-width: 30rem; */
    }
}