.container__medium {
    margin: var(--gap-medium);
}

.container__small {
    margin: 0 var(--gap-large);
}

.grid__container__row {
    display: grid;
    grid-template-columns: 1fr;
}

.grid__element {
    padding: var(--gap-medium);
}

.flex__space__between {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .container__medium {
        margin: var(--gap-large);
    }
    .container__small {
        margin: 0 10vw;
    }
}

@media screen and (min-width: 1280px) {
    .grid__container__row {
        grid-template-columns: 2fr 1fr;
    }
}