.container__medium {
    margin: var(--gap-large);
}

.grid__container__row {
    display: grid;
    grid-template-columns: 1fr;
}

.grid__element {
    padding: var(--gap-medium);
}

@media screen and (min-width: 1024px) {
    .grid__container__row {
        grid-template-columns: 2fr 1fr;
    }
}