footer {
    padding: var(--gap-small);
    margin: var(--gap-medium) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .socials {
    display: flex;
    gap: var(--gap-small);
}

footer .socials svg {
    margin: 0 .25rem;
    /* width: 2rem; */
}