.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  var(--gap-small);
    pointer-events: none;
}

.navbar__logo {
    pointer-events: auto;
}

.navbar ul {
    display: flex;
    gap: var(--gap-small);
    font-weight: 700;
    font-size: 1.5rem;
    pointer-events: auto;
}
.navbar li a {
    /* filter: invert(1); */
    /* mix-blend-mode: difference; */
    /* text-shadow: 0px 0px 5px white; */
}

.navbar__item__active {
    color: var(--col-main);
}

/* .navbar__item__inactive {
    color: black;
} */

#logo__img {
    max-width: 60px;
    max-height: 60px;
}

#logo__img:hover {

}

.location__navigation nav a {
    font-family: var(--font-secondary);
    font-size: var(--gap-medium);
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    #logo__img {
        max-width: 120px;
        max-height: 120px;
    }
}