.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  var(--gap-small);
}

.navbar ul {
    display: flex;
    gap: var(--gap-small);
    font-weight: 700;
    font-size: 1.5rem;
}
.navbar li a {
    /* filter: invert(1); */
    /* mix-blend-mode: difference; */
    /* text-shadow: 0px 0px 5px white; */
}

#logo__img {
    max-width: 80px;
    max-height: 50px;
}

.location__navigation nav a {
    font-family: var(--font-secondary);
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    #logo__img {
        max-width: 80px;
        max-height: 80px;
    }
}