.img__weather-thumbnail {
    width: 128px;
    height: 128px;
    filter: sepia(100%) hue-rotate(268deg) brightness(82%) saturate(67%);
    /* filter: grayscale(); */
}

.weather__container {
    display: flex;
}

.weather__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#weather__temp,
.pollution__data {
    font-size: 2rem;
    font-weight: 900;
}

.pollution__label {
    width: 16rem;
    display: inline-block;
}